<div class="col-md-12">
    <h1 ng-bind="title"></h1>
</div>

<div class="col-md-12" style="margin-bottom: 10px;">
    <button type="button"
            class="btn btn-success"
            ng-click="go('/Posts/New')">
        <span class="glyphicon glyphicon-plus"></span> New post
    </button>
</div>

<div class="col-md-12">
    <table class="table">
        <tr>
            <th ng-click="setSorting('title')">
                Title <span ng-show="sort.string == 'title'"
                            class="glyphicon"
                            ng-class="{ 'glyphicon-triangle-top': !sort.descending,
                                        'glyphicon-triangle-bottom': sort.descending }"></span>
            </th>
            <th ng-click="setSorting('author')">
                Author <span ng-show="sort.string == 'author'"
                             class="glyphicon"
                             ng-class="{ 'glyphicon-triangle-top': !sort.descending,
                                         'glyphicon-triangle-bottom': sort.descending }"></span>
            </th>
            <th ng-click="setSorting('postDate')">
                Post date <span ng-show="sort.string == 'postDate'"
                                class="glyphicon"
                                ng-class="{ 'glyphicon-triangle-top': !sort.descending,
                                            'glyphicon-triangle-bottom': sort.descending }"></span>
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="post in models.posts | orderBy: sort.string : sort.descending track by $index">
            <td ng-bind="post.title"></td>
            <td ng-bind="post.author"></td>
            <td ng-bind="post.postDate | date: 'medium'"></td>
            <td>
                <button type="button"
                        class="btn btn-info"
                        ng-click="go('/Posts/Edit/' + post.id)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button type="button"
                        class="btn btn-danger"
                        ng-click="deletePost(post.id)">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </td>
        </tr>
    </table>
</div>